body {
    font-family: Arial, sans-serif;
    background-color: #ebf8f8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-principal {
    display: flex;
    width: 100%;
    max-width: 1200px; /* Ajuste conforme necessário */
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.imagem-fundo {
    height: 100vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.imagem-lado {
    height: 100%;
    width: auto;
    object-fit: cover;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    height: 100vh; /* Ocupa toda a altura da viewport */
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box; /* Garante que o padding seja considerado dentro do tamanho total */
}


h2 {
    color: #333;
}


label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #218838;
}

#response {
    margin-top: 20px;
    color: red;
    font-weight: bold;
}

