/* Estilização geral */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.profile-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Container geral para cada seção */
.container {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px; /* Definindo um tamanho máximo para os containers */
    margin: 20px auto; /* Centralizando os containers */
}

.container-cert {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    height: auto; /* Começa com altura automática */
    min-height: 221px; /* Define o tamanho mínimo para conter 2 certificados */
    max-height: 450px; /* Tamanho máximo permitido antes de ativar o scroll */
    overflow-y: auto; /* Ativa o scroll vertical quando necessário */
    margin: 20px auto; /* Centralizando o container */
}
#certificados-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Layout 2x2 */
    gap: 20px; /* Aumenta o espaço entre os itens */
}

.profile-header {
    text-align: center;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #ccc;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}

h1, h2 {
    color: #007BFF;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery-item {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-item:hover {
    transform: scale(1.05);
}

.video-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.video-section video {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Botões de ação */
.action-buttons {
    text-align: center;
    margin-top: 20px;
}

.solicitar-servico-btn {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}
.modal-content {
    background-color: #fff;
    position: fixed;
    top: 3%; /* Define o topo do modal */
    left: 50%;
    transform: translate(-50%, 0);
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 8px;
    z-index: 1000;
    max-height: 80vh; /* Define uma altura máxima para o modal */
    overflow-y: auto; /* Adiciona o scroll vertical */
}

.texto-content {
    color: #aaa;
    margin-bottom: -40px; /* Ajuste conforme necessário */
    background: white;
    position: sticky; /* Permite que ele fique fixo ao rolar */
    top: 0; /* Fixa no topo do contêiner ao rolar */
    z-index: 10; /* Garante que o texto esteja acima de outros conteúdos */
    padding: 10px; /* Adiciona um pouco de espaço ao redor do texto */
}
.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: sticky; /* Permite que ele fique visível enquanto rola */
    top: 0; /* Fixa no topo do modal */
    margin-left: auto; /* Alinha à direita */
    background: transparent; /* Torna o fundo transparente */
    padding: 5px; /* Ajuste para tornar o clique mais preciso */
    z-index: 10; /* Mantém o botão acima do conteúdo do modal */
    cursor: pointer;
    border: none;
    outline: none;
    display: inline-block; /* Garante que apenas o "X" seja clicável */
    margin-left: 1170px;
}



.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.feedback-item {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Classe para desativar o scroll da página */
.no-scroll {
    overflow: hidden;
}

.no-feedback {
    background-color: #fcdcdc; /* Cinza escuro para destacar o texto */
    border: 1px solid #000; /* Borda preta mais forte */
    border-radius: 5px; /* Bordas levemente arredondadas */
    padding: 10px; /* Espaço interno */
    margin-top: 10px; /* Distância do conteúdo acima */
    text-align: center; /* Centraliza o texto */
}

.no-feedback p {
    color: #fff; /* Texto branco para melhor contraste com o fundo escuro */
    font-size: 16px; /* Tamanho da fonte */
    font-weight: bold; /* Texto em negrito para dar mais destaque */
    text-shadow: 
        -1px -1px 0 #000,  /* Sombra para o canto superior esquerdo */
        1px -1px 0 #000,   /* Sombra para o canto superior direito */
        -1px 1px 0 #000,   /* Sombra para o canto inferior esquerdo */
        1px 1px 0 #000;    /* Sombra para o canto inferior direito */
}


/* Definir estilo para a pré-visualização das imagens */
.thumbnail {
    width: 100px;  /* Definir a largura da miniatura */
    height: auto;  /* Manter a proporção da imagem */
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    position: relative;  /* Necessário para o botão "X" */
}

/* Estilo para os itens de pré-visualização */
.file-preview {
    display: inline-block;
    margin: 10px;
    text-align: center;
    position: relative;  /* Necessário para o botão "X" */
}

.file-preview button {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;  /* Garante que o botão seja redondo */
    cursor: pointer;
    width: 25px;  /* Aumente o tamanho se necessário */
    height: 25px;  /* Mesma altura que largura para manter redondo */
    font-size: 14px;
    line-height: 25px;  /* Centraliza o texto verticalmente */
    padding: 0;  /* Remove o padding para evitar achatamento */
    display: flex;
    justify-content: center;
    align-items: center;
}

.file-preview button:hover {
    background-color: darkred;
}


/* Destacar as imagens inválidas (ex: fotos deitadas demais) */
.file-preview.invalid img {
    border: 2px solid red;
}
/* Destacar vídeos inválidos com um contorno vermelho */
.file-preview.invalid video {
    border: 2px solid red;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.8); /* Sombra para destacar ainda mais */
    border-radius: 4px;  /* Suavizar as bordas do vídeo */
}

/* Para garantir que o vídeo siga as mesmas regras */
.file-preview video {
    width: 100px;
    height: auto;
    border-radius: 4px;
    border: 1px solid #ccc;
}
/* Estilização para inputs e textarea */
input[type="text"], input[type="number"], input[type="date"], input[type="email"], textarea {
    width: calc(100% - 20px);  /* Preenche o espaço disponível com uma margem interna */
    padding: 10px;  /* Aumenta o espaço interno */
    margin-bottom: 15px;  /* Espaço entre os campos */
    border: 1px solid #ccc;  /* Borda leve */
    border-radius: 6px;  /* Bordas arredondadas para um visual mais suave */
    font-size: 16px;  /* Fonte mais legível */
    box-sizing: border-box;  /* Garante que padding e borda não alterem o tamanho do input */
    background-color: #f9f9f9;  /* Cor de fundo leve para o campo */
    transition: border-color 0.3s ease;  /* Transição suave na borda ao foco */
}

/* Foco no campo de entrada */
input[type="text"]:focus, input[type="number"]:focus, input[type="date"]:focus, input[type="email"]:focus, textarea:focus {
    border-color: #007BFF;  /* Azul mais chamativo quando o campo estiver em foco */
    outline: none;  /* Remove o outline padrão */
}

/* Estilização específica para textarea */
textarea {
    height: 120px;  /* Ajusta a altura para se adequar às necessidades de texto */
    resize: vertical;  /* Permite redimensionamento apenas na vertical */
}
select {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
/* Estilizando o ícone de notificação */
.notification-container {
    position: fixed; /* Altera de absolute para fixed */
    top: 10px;
    right: 20px;
    z-index: 1000; /* Garante que o ícone ficará acima de outros elementos */
}

.notification-icon {
    font-size: 24px;
    cursor: pointer;
    position: relative;
}

.notification-count {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 8px;
    font-size: 14px;
    position: absolute;
    top: -10px;
    right: -10px;
}

/* Estilo para a lista de solicitações */
#solicitacoesList {
    list-style-type: none;
    padding: 0;
}

#solicitacoesList li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
/* Popup de Solicitações */
/* Popup de Solicitações */
.popup-solicitacao {
    display: none;
    position: fixed ;
    z-index: 999 ;
    top: 0 ;
    left: 0 ;
    width: 100% ;
    height: 100% ;
    background-color: rgba(0, 0, 0, 0.7) ; /* Escurece o fundo */
    display: flex ; /* Habilita flexbox */
    justify-content: center !important; /* Centraliza horizontalmente */
    align-items: center !important; /* Centraliza verticalmente */
}

.popup-content-solicitacao {
    background-color: #fff ;
    padding: 20px ;
    border-radius: 10px ;
    max-width: 600px ; /* Define a largura máxima */
    width: 90% ; /* Ajusta o tamanho de acordo com a tela */
    max-height: 90% !important; /* Limita a altura */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1) ;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important; /* Garante que o conteúdo esteja centralizado */
    position: relative !important; /* Permite o botão de fechar no topo */
    /* margin-left: 445px; */
}

.popup-content-solicitacao h3 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
}
/* Adaptação para telas pequenas - 6,8" */
@media (max-width: 1080px) {  /* Para telas de largura de até 1080px */
    
    /* Ajuste para o ícone de notificação */
    .notification-container {
        top: 10px; /* Mantém o ícone um pouco abaixo */
        right: 10px; /* Ajusta a distância da borda direita */
        z-index: 1000; /* Certifique-se de que esteja sobre outros elementos */
    }
    
    /* Ajuste do botão de fechar popup */
    .popup-close {
        font-size: 20px; /* Reduz o tamanho do ícone de fechar */
        top: 5px; /* Alinha um pouco mais para cima */
        left: 10px; /* Alinha mais próximo da borda esquerda */
        right: auto; /* Remove qualquer alinhamento à direita */
    }

    
    /* Ajuste do popup */
    .popup-content-solicitacao {
        max-width: 80%; /* Diminui a largura para telas menores */
        width: 90%; /* Ajusta o tamanho de acordo com a tela */
        padding: 15px; /* Reduz o espaçamento interno */
    }

    /* Ajuste para evitar que o conteúdo do popup fique muito apertado */
    .solicitacao-details {
        grid-template-columns: 1fr; /* Alinha os itens em uma única coluna */
        gap: 5px; /* Reduz o espaçamento entre os itens */
    }
    
    /* Ajusta o tamanho do botão */
    .confirmar-servico-btn {
        font-size: 0.9rem; /* Ajusta o tamanho da fonte para o botão */
        padding: 8px 15px; /* Ajusta o tamanho do botão */
    }
}

.solicitacao-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dois itens por linha */
    gap: 10px;
    width: 100%;
}

.solicitacao-details p {
    margin: 0;
    font-size: 1rem;
}

.popup-close {
    position: absolute; /* Para garantir que o botão de fechar fique no topo */
    top: 10px;
    right: 15px;
    font-size: 24px;
    color: #f00;
    cursor: pointer;
}

.confirmar-servico-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 20px;
}

.confirmar-servico-btn:hover {
    background-color: #0056b3;
}




.popup-content-solicitacao {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px; /* Tamanho máximo ajustado */
    width: 90%; /* Faz o popup ocupar 90% da tela em dispositivos menores */
    max-height: 80%; /* Limitar a altura */
    overflow-y: auto; /* Adicionar rolagem se o conteúdo exceder a altura */
    display: flex; /* Garante que o conteúdo esteja bem ajustado */
    flex-direction: column; /* Organiza o conteúdo verticalmente */
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave para dar destaque */
}

.popup-content-solicitacao h3 {
    text-align: center;
    margin-bottom: 20px;
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    color: #f00;
    cursor: pointer;
}

#solicitacoesList {
    list-style: none;
    padding: 0;
}

.solicitacao-item {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.solicitacao-detalhes {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.solicitacao-detalhes p {
    margin: 5px 0;
}

.solicitacao-item button {
    padding: 8px 12px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px; /* Diminuindo o tamanho do botão */
    transition: background-color 0.3s;
}

.solicitacao-item button:hover {
    background-color: #0056b3;
}

.popup {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.popup-content {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 90%;
    max-height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.popup-close:hover {
    color: #ff1a1a;
}

.certificado-item {
    width: 100%; /* O item ocupa 100% da célula do grid */
    padding: 5px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ccc;
    position: relative;
    text-align: center;
    display: inline-block;
}

.certificado-item img {
    max-width: 100%;
    max-height: 100%; /* Garante que a imagem se ajuste ao container */
    display: block;
    margin: 0 auto;
    border-radius: 4px;
}

.btn-remove {
    background-color: #ff4d4d;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    padding: 0;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-remove:hover {
    background-color: #ff1a1a;
}




/* Animação de destaque para o label */
.focus-highlight {
    background-color: #ffffcc;  /* Cor de fundo destacada */
    border-radius: 4px;
    padding: 5px;
    transition: background-color 0.5s ease, color 0.5s ease;  /* Transição suave */
}

/* Estilo para os botões */
button {
    padding: 12px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.response-message {
    margin-top: 10px;
    font-size: 14px;
    color: green;  /* Cor para mensagem de sucesso */
}

.response-message.error {
    color: red;  /* Cor para mensagem de erro */
}




/* Hover no botão */
button:hover {
    background-color: #0056b3;  /* Cor mais escura ao passar o mouse */
}

/* Ajuste de espaçamento e alinhamento para labels */
label {
    display: block;  /* Exibe as labels como blocos, uma acima do input */
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;  /* Cor mais escura para destaque */
}

/* Responsividade para telas menores */
@media screen and (max-width: 768px) {
    input[type="text"], input[type="number"], input[type="date"], input[type="email"], textarea {
        width: 100%;  /* Inputs ocupam 100% da largura do container */
    }
}

/* Adaptação para telas pequenas - 6,8" */
@media (max-width: 1080px) {  /* Para telas de largura de até 1080px */
    .close {
        margin-left: 333px !important;
    }
}
