body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h2 {
    color: #333;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select, textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Para garantir que o padding não ultrapasse o tamanho do campo */
}





/* Container para o checkbox e o label */
.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

/* Esconder o checkbox padrão */
.toggle-switch {
    display: none;
}

/* Estilo para o interruptor */
.toggle-switch + .toggle-switch-label {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    background-color: #ccc;
    border-radius: 34px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* O círculo dentro do interruptor */
.toggle-switch + .toggle-switch-label:before {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: white;
    top: 1px;
    left: 1px;
    transition: transform 0.3s;
}

/* Cor de fundo quando o checkbox estiver selecionado (ativado) */
.toggle-switch:checked + .toggle-switch-label {
    background-color: #4CAF50;
}

/* Movendo o círculo para a direita quando o checkbox estiver ativado */
.toggle-switch:checked + .toggle-switch-label:before {
    transform: translateX(26px);
}

/* Estilo para o texto ao lado do interruptor */
.toggle-text {
    margin-left: 15px;
    font-weight: bold;
    color: #333;
    font-size: 16px;
}


textarea {
    resize: vertical;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#response {
    margin-top: 20px;
    color: red;
    font-weight: bold;
}
