/* Remover margens e padding padrão */
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Impedir rolagem horizontal */
    font-family: Arial, sans-serif;

}
/* Desativa o scroll do body */
.no-scroll {
    overflow: hidden;
}


/* Ajustar o container principal para ocupar a altura total */
#services-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    overflow: hidden;
    height: 100vh; /* Ajuste para ocupar a altura total da viewport */
    box-sizing: border-box;
}


.service {
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    width: 100%; /* Ajustar para ocupar toda a largura */
    position: absolute; /* Para sobrepor os serviços uns aos outros */
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transform: translateY(100%); /* Fora da tela inicialmente (em baixo) */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transições suaves */
}

.service.active {
    opacity: 1;
    transform: translateY(0); /* Voltar para a posição visível */
    height: 100%;
}


.service.prev {
    transform: translateY(-100%); /* Fora da tela (em cima) */
}

.service.next {
    transform: translateY(100%); /* Fora da tela (em baixo) */
}


.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 80vh;
    flex-direction: column;
}

/* Estilo padrão da galeria (como você já configurou) */
.gallery img, .gallery video {
    position: absolute;
    width: 300px;
    height: 490px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    border: 5px solid #ccc;
    border-radius: 10px;
}

/* Estilo alternativo para a exibição completa do contêiner da galeria */
.gallery.full-view {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    background-color: #fff;

}

/* Estilo para a mídia dentro do contêiner full-view */
.gallery.full-view img,
.gallery.full-view video {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border: 5px solid #555;
    border-radius: 10px;
    object-fit: contain;

}
/* Define a opacidade para os botões "next" e "prev" quando invisíveis */
.invisible {
    opacity: 0.1; /* Torna quase invisível */
    transition: opacity 0.5s ease; /* Suaviza a transição da opacidade */
}

.gallery.full-view button.full-view-next {
    right: -260px !important;
    left: auto !important; /* Para garantir que 'left' seja ignorado */
}

button.full-view-prev {
    left: -260px; /* Ajuste conforme necessário para mais espaço */
}


.gallery img.active, .gallery video.active {
    opacity: 1;
    transform: translateX(0);
}

.gallery img.slide-left, .gallery video.slide-left {
    transform: translateX(-100%);
    opacity: 0;
}

.gallery img.slide-right, .gallery video.slide-right {
    transform: translateX(100%);
    opacity: 0;
}

/* Estilo para o container do título */
.titulo-container {
    text-align: center;
    margin-bottom: 20px; /* Ajuste a distância entre o título e o conteúdo principal */
}

/* Estilo para o título principal */
.titulo-container h1  {
    font-size: 2em;
    color: #333;
    font-weight: bold;
    margin: 0; /* Remove margens padrão */
    margin-bottom: 5px; /* Ajuste para dar uma pequena separação */
}

/* Estilo para o subtítulo */
.tituloAvaliacao {
    font-size: 1.5em;
    color: #555;
    margin: 0;
    margin-bottom: 20px; 
}


.icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

img {
    /* padding: 0px; */
    border-radius: 20px;
}


/* Estilos para os botões de navegação */
.navigation-buttons-horizontal {
    position: absolute;
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Posiciona os botões no centro horizontal */
    transform: translate(-50%, -50%); /* Centraliza os botões horizontal e verticalmente */
    display: flex;
    justify-content: space-between;
    width: 120px; /* Largura ajustada para manter os botões próximos */
}

.navigation-buttons-horizontal button {
    background-color: rgba(255, 255, 255, 0.7); /* Fundo semitransparente */
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}


/* Botões de navegação vertical */
.navigation-buttons-vertical {
    position: fixed;
    right: 20px; /* Posicionar à direita da página */
    top: 50%; /* Centralizar verticalmente */
    transform: translateY(-50%); /* Ajuste para centralização precisa */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button.vertical-btn {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

button.vertical-btn:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
button.next {
    left: 220px;
}
button.prev {
    left: -144px;
}

button.next, 
button.prev {
    position: absolute;
    top: 50%; /* Centraliza verticalmente */
    transform: translateY(-50%); /* Ajuste para manter os botões centralizados */
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo semitransparente */
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    font-size: 24px; /* Tamanho da fonte maior para melhor visibilidade */
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 50%; /* Torna os botões redondos */
}
/* Efeitos de hover para os botões */
button.next:hover, 
button.prev:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Fundo mais escuro ao passar o mouse */
    transform: translateY(-50%) scale(1.1); /* Aumenta o botão um pouco quando hover */
}

/* Estilizando o botão de navegação vertical superior (seta para cima) */
button.vertical-prev {
    position: absolute;
    top: 10px; /* Posiciona o botão no topo da galeria */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Mantém o botão centralizado */
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo semitransparente */
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px; /* Tamanho da fonte para visibilidade */
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 50%; /* Botão redondo */
}

/* Estilizando o botão de navegação vertical inferior (seta para baixo) */
button.vertical-next {
    position: absolute;
    bottom: 10px; /* Posiciona o botão no fundo da galeria */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Mantém o botão centralizado */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 50%;
}

/* Efeito hover para os botões verticais */
button.vertical-prev:hover, 
button.vertical-next:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Fundo mais escuro ao passar o mouse */
    transform: translateX(-50%) scale(1.1); /* Aumenta o botão levemente */
}

.video-container {
    position: relative; /* Isso permitirá que a descrição fique sobre o vídeo */
    display: inline-block;
}

/* Estilo de descrição no carrossel para desktop */
.video-description {
    position: absolute;
    bottom: -383px;
    left: 10px;
    color: white;
    padding: 10px;
    font-size: 12px;
    border-radius: 5px;
    max-width: 200px;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin-left: -159px;
    /* margin-top: 85px; */
    text-align: left;
    transition: opacity 0.5s ease;
}

/* Quando a descrição estiver ativa */
.video-description.active {
    opacity: 1; /* Descrição visível */
}

/* Quando a descrição for oculta */
.video-description.hidden {
    opacity: 0; /* Descrição invisível */
    display: none;
}

.video-description p {
    margin: 5px 0;
}

.responsavel-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.perfil-foto {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: cover; /* Ajusta a imagem para cobrir todo o div */
    background-position: center; /* Centraliza a imagem */
    display: inline-block;
}

/* Estilo para a bolinha vermelha de notificação */
#notificationDot {
    position: absolute;
    top: 5px;
    right: 5px;
}

/* Estilo para o popup de status */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 8px;
}

.popup-content {
    position: relative;
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}




/* Estilo para a barra lateral */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: #f4f4f4;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: transform 0.3s ease; /* Adiciona transição para suavidade */
}

/* Esconder a barra lateral ao aplicar a classe hidden */
.sidebar.hidden {
    transform: translateX(-100%); /* Move a barra lateral para fora da tela */
}

/* Estilo para os botões dentro da barra lateral */
.sidebar button {
    width: 90%;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.sidebar button:hover {
    background-color: #0056b3;
}

/* Estilo do botão de alternância */
#toggleSidebar {
    position: fixed;
    top: 82px;
    left: 200px; /* Começa ao lado da barra lateral */
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    transition: left 0.3s ease, background-color 0.3s ease;
}

#toggleSidebar:hover {
    background-color: #0056b3;
}

/* Modal geral */
.modal {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
    max-height: 80vh; /* Limita a altura do modal */
    overflow-y: auto; /* Adiciona scroll vertical se o conteúdo ultrapassar a altura */
}

/* Estilo para quando o modal é exibido */
.modal.show {
    display: block;
}

/* Estilo para o botão de fechar no canto superior direito */
.modal .close-btn {
    position: absolute;
    top: -6px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

/* Estilos para o formulário */
.modal form {
    display: flex;
    flex-direction: column;
}

/* Labels e inputs com espaçamento */
.modal label {
    margin-top: 10px;
}

.modal input, .modal select, .modal textarea {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-top: 5px;
    font-size: 16px;
}

/* Botões de ação */
.modal button {
    margin-top: 15px;
    padding: 10px 15px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
}

.modal button[type="submit"] {
    background-color:#007bff;
    color: #fff;
    cursor: pointer;
}

.modal button[type="submit"]:hover {
    background-color:  #0461c4;
}

.modal button[type="button"] {
    background-color: #dc3545;
    color: #fff;
    cursor: pointer;
}

.modal button[type="button"]:hover {
    background-color: #c82333;
}


.read-more-btn {
    background: none;
    border: none;
    color: #00f;
    cursor: pointer;
    text-decoration: underline;
    font-size: 12px;
    padding: 0;
}

.responsavel-info p {
    margin: 0;
    font-size: 16px;
}

.solicitar-servico-btn {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    transition: background-color 0.3s ease, opacity 0.5s ease;
    z-index: 4;
    display: block;
    margin-top: 333px;
    margin-left: 220px;
}


/* Quando o botão estiver oculto */
.solicitar-servico-btn.hidden {
    opacity: 0; /* Esconde o botão com uma transição suave */
    pointer-events: none; /* Desabilita eventos de clique */
    transition: opacity 0.3s ease; /* Adiciona a animação */
}

/* Quando o botão estiver visível */
.solicitar-servico-btn.active {
    opacity: 1; /* Mostra o botão */
    pointer-events: auto; /* Habilita eventos de clique */
    transition: opacity 0.3s ease; /* Adiciona a animação */
}


.solicitar-servico-btn:hover {
    background-color: #218838; /* Mudança de cor ao passar o mouse */
}

.popup-selecao {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.popup-selecao-content {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 90%;
    max-height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-selecao-close:hover {
    color: #ff1a1a;
}

.popup-content-solicitacao {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px; /* Tamanho máximo ajustado */
    width: 90%; /* Faz o popup ocupar 90% da tela em dispositivos menores */
    max-height: 80%; /* Limitar a altura */
    overflow-y: auto; /* Adicionar rolagem se o conteúdo exceder a altura */
    display: flex;
    flex-direction: column; /* Organiza o conteúdo verticalmente */
    justify-content: flex-start; /* Ajusta o conteúdo no topo */
    align-items: flex-start; /* Ajusta o conteúdo à esquerda */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave para dar destaque */
    position: relative; /* Para alinhar o botão de fechar corretamente */
}

.popup-content-solicitacao h3 {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.popup-close {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 24px;
    color: #f00;
    cursor: pointer;
    transition: color 0.2s ease;
}

.popup-close:hover {
    color: #ff1a1a;
}

/* Ajustes adicionais para melhorar o layout */
.solicitacao-details {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.solicitacao-details p, 
.solicitacao-details input,
.solicitacao-details select,
.solicitacao-details textarea {
    width: 100%;
    margin-bottom: 15px;
}

.solicitacao-details input, 
.solicitacao-details select,
.solicitacao-details textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.confirmar-servico-btn {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.confirmar-servico-btn:hover {
    background-color: #0755a8;
}

.icon {
    cursor: pointer;
    color: #007bff;
}

.icon:hover {
    text-decoration: underline;
}

/* Estilo para o popup de avaliação do prestador */
.popup-avaliar {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo escuro */
    justify-content: center;
    align-items: center;
}

.popup-avaliar-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
    text-align: center;
    position: relative;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona sombra */
}

.popup-avaliar-content h3 {
    margin-top: 0;
    font-size: 1.5rem;
    color: #333;
}

.popup-avaliar-content label {
    display: block;
    margin-top: 10px;
    font-size: 1.1rem;
    color: #333;
}

.popup-avaliar-content textarea {
    width: 100%;
    height: 80px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.popup-avaliar-content select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.popup-avaliar-content button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 15px;
}

.popup-avaliar-content button:hover {
    background-color: #218838;
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    color: #f00;
    cursor: pointer;
}

.popup-close:hover {
    color: #ff1a1a;
}




/* Ajuste para telas menores (dispositivos móveis) */
@media (max-width: 768px) {
    .navigation-buttons-vertical {
        right: 10px; /* Ajusta a posição para mais perto da lateral */
    }

    .navigation-buttons-vertical button {
        padding: 10px; /* Botões menores */
        font-size: 20px;
    }
}