<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cliente.css') }}">
    <title>Cadastro de Cliente</title>
</head>
<body>
    <div class="container-principal">
        <div class="imagem-fundo">
            <img src="{{ url_for('static', filename='images/Login_cliente.webp') }}" alt="Imagem" class="imagem-lado">
        </div>
        <form id="clienteForm">
            <h2>Cadastro de Cliente</h2>
            <label for="name">Nome:</label>
            <input type="text" id="name" name="name" required>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required>
            <label for="confirmPassword">Confirmar Senha:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>
            <label for="cnpj">CNPJ (opcional):</label>
            <input type="text" id="cnpj" name="cnpj">
            <button type="submit">Cadastrar</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/cliente_script_cadastro.js') }}"></script>
</body>

</html>
