<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/prestador_servico.css') }}">
    <title>Detalhes do Serviço</title>
</head>
<body>
    <form id="servicoForm">
        <h2>Preencha os Detalhes do Serviço</h2>
        <input type="hidden" id="prestadorId" value="{{ prestador_id }}"> <!-- Input oculto para o ID do prestador -->
        <br>
        <label for="nome">Olá {{nome_prestador}}</label>
        <br>
        <label for="serviceType">Tipo de Serviço Selecionado:</label>
        <input type="text" id="serviceType" name="serviceType" value="{{ service_type_legivel }}" required>
        <br>
        <label for="certificado">Carregar Certificado (opcional):</label>
        <input type="file" id="certificado" name="certificado" accept="application/pdf,image/*">
        <br>
        <label for="description">Descrição Detalhada:</label>
        <textarea id="description" name="description" required></textarea>
        <br>
    
        <label for="budget">Orçamento Disponível:</label>
        <input type="text" id="budget" name="budget" required>
        <br>
    
        <label for="urgency">Prazo/Urgência:</label>
        <select id="urgency" name="urgency" required>
            <option value="">Selecione a urgência</option>
            <option value="urgente">Urgente</option>
            <option value="semana">Dentro de uma semana</option>
            <option value="mes">Dentro de um mês</option>
            <option value="sem_prazo">Sem prazo específico</option>
        </select>
        <br>
    
        <label for="location">CEP (se aplicável):</label>
        <input type="text" id="location" name="location">
        <br>
    
        <label for="street">Rua:</label>
        <input type="text" id="street" name="street" readonly>
        <br>
    
        <label for="neighborhood">Bairro:</label>
        <input type="text" id="neighborhood" name="neighborhood" readonly>
        <br>
    
        <label for="city">Cidade:</label>
        <input type="text" id="city" name="city" readonly>
        <br>
    
        <label for="state">Estado:</label>
        <input type="text" id="state" name="state" readonly>
        <br>
    
        <label for="contactMethod">Forma de Contato Preferencial:</label>
        <select id="contactMethod" name="contactMethod" required>
            <option value="">Selecione a forma de contato</option>
            <option value="email">Email</option>
            <option value="telefone">Telefone</option>
            <option value="whatsapp">WhatsApp</option>
        </select>
        <br>
        <!-- Aqui será exibido o campo para o número ou email com base na escolha -->
        <div id="contactDetail" style="display:none;">
            <label for="contactInput" id="contactLabel">Por favor, insira seu contato:</label>
            <input type="text" id="contactInput" name="contactInput" placeholder="Digite seu contato">
        </div>
        
        <label for="contactDate">Data/Hora de Contato:</label>
        <input type="datetime-local" id="contactDate" name="contactDate" required>
        <br>
    
        <label for="comments">Comentários sobre Serviços Anteriores:</label>
        <textarea id="comments" name="comments"></textarea>
        <br>
    
        <label for="providerPreferences">Preferências sobre o Prestador:</label>
        <textarea id="providerPreferences" name="providerPreferences"></textarea>
        <br>
    
        <button type="submit">Enviar Solicitação</button>
    </form>
    
    <p id="response"></p>
    
    <script src="{{ url_for('static', filename='js/servico_script.js') }}"></script>
    
</body>
</html>
