<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/upload_midia.css') }}">
</head>
<body>
    <div class="container">
        <form id="uploadForm" enctype="multipart/form-data">
        <h2>Carregar Documentos e Mídias</h2>
        <title>Upload de Mídia</title>
        <label for="perfil_foto">Selecione a Foto de Perfil:</label>
        <input type="file" id="perfil_foto" name="perfil_foto" accept="image/*">
        <br>

        <label for="documents">Selecione até 4 Imagens:</label>
        <div class="file-upload-container">
            <!-- Ícone de upload clicável -->
            <img 
                id="upload-icon" 
                src="{{ url_for('static', filename='images/upload_de_arquivo.png') }}" 
                alt="Upload Arquivo" 
                class="upload-icon" 
                onclick="abrirSeletorArquivos()"
            >
            <!-- Input de upload escondido -->
            <input 
                type="file" 
                id="documents" 
                name="documents" 
                multiple 
                accept="image/*" 
                style="display: none;" 
                onchange="processarArquivosSelecionados(event)"
            >
        </div>
        <p id="response" class="upload-limit-message"></p>
        <p id="response-Novo" class="upload-limit-message"></p>

        <label for="video">Selecione um Vídeo (máx 1 min):</label>
        <div class="file-upload-container">
            <!-- Ícone de upload para vídeos -->
            <img 
                id="upload-video-icon" 
                src="{{ url_for('static', filename='images/upload_de_arquivo.png') }}" 
                alt="Upload Vídeo" 
                class="upload-icon" 
                onclick="abrirSeletorVideo()"
            >
            <!-- Input de upload escondido para vídeos -->
            <input 
                type="file" 
                id="video" 
                name="video" 
                accept="video/mp4" 
                style="display: none;" 
                onchange="processarVideoSelecionado(event)"
            >
        </div>

        <div id="preview"></div> <!-- Área para pré-visualização -->

        <button type="submit">Enviar Mídia</button>
        <p id="response"></p>
    </form>
</div>
    <script src="{{ url_for('static', filename='js/upload_script.js') }}"></script>
</body>
</html>
