<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/upload_midia.css') }}">
    <title>Upload de Mídia</title>
</head>
<body>
    <h2>Carregar Documentos e Mídias</h2>
    <form id="uploadForm" enctype="multipart/form-data">
        <label for="perfil_foto">Selecione a Foto de Perfil:</label>
        <input type="file" id="perfil_foto" name="perfil_foto" accept="image/*">
        <br>

        <label for="documents">Selecione até 4 Imagens/Documentos:</label>
        <input type="file" id="documents" name="documents" accept="image/*,.pdf" multiple>
        <br>

        <label for="video">Selecione um Vídeo (máx 1 min):</label>
        <input type="file" id="video" name="video" accept="video/*">
        <br>

        <div id="preview"></div> <!-- Área para pré-visualização -->

        <button type="submit">Enviar Mídia</button>
    </form>

    <p id="response"></p>

    <script src="{{ url_for('static', filename='js/upload_script.js') }}"></script>
</body>
</html>
